#overlay-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-family: 'Prompt', sans-serif;
}

#simple-overlay {
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 800px;
    background-color: rgba(255, 253, 240, 0.95);
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    pointer-events: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid #F0E6D2;
}

#simple-overlay h2 {
    color: #7E6D5A;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#simple-overlay h3 {
    color: #A79B8E;
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#simple-overlay h4 {
    color: #A79B8E;
    font-size: 18px;
    margin-bottom: 10px;
}

#simple-overlay img {
    max-width: 70%;
    object-fit: contain;

    border: 12px solid white;
    border-radius: 3px;
    box-shadow: 
        0 0 0 1px #ccc,
        2px 2px 8px rgba(0,0,0,0.1);
    padding: 8px;
    background: white;
    box-sizing: border-box;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#scroll-container {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 15px;
}

#scroll-container::-webkit-scrollbar {
    width: 8px;
}

#scroll-container::-webkit-scrollbar-track {
    background: #F0E6D2;
    border-radius: 4px;
}

#scroll-container::-webkit-scrollbar-thumb {
    background-color: #D0B49F;
    border-radius: 4px;
}

.experience {
    margin-bottom: 25px;
}

.experience ul {
    list-style-type: none;
    padding-left: 20px;
}

.experience * {
    color: #757474;
    font-size: 16px;
    margin-bottom: 8px;
    position: relative;
}

.experience li:before {
    content: "•";
    color: #D0B49F;
    font-size: 20px;
    position: absolute;
    left: -15px;
    top: -2px;
}

#closeButton {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #D0B49F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

#closeButton:hover {
    background-color: #C0A48F;
}